.App{
  margin: 0;
  border: 0;
}
header{
  height: 100px;
  width: auto;
  background: #34A5DA;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
}
.Parent {
  height: 100vh;
  width: auto;
  background:#222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Child {
  position: fixed;
  height: 60vh;
  width: 80vw;
  background: #EBEBEB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}
.numIndex{
  text-align: right;
  padding-right: 5px;
  font-size: 20px;
  
  /* background: green; */
}
.name{
  /* background: pink;
  height: ; */
  font-size: 30px;
  padding: 0 0 0 15px;
  text-decoration: underline;
  text-decoration-color: #34A5DA;
  font-weight: bold;


}
.info{
  /* background: yellow; */
  height: 100px;
  padding: 0 0 0 15px;
}
.favMovie{
  /* background: lightblue; */
  padding: 0 0 0 15px;
  
}
h4{
  font-weight: bold;
}
.nav {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222222 ;
  color: white;
}
.midNav{
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.but{
  border-radius: 100px;
  color: white;
  background: #34A5DA;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.point{
  cursor: pointer;
}
label{
  font-weight: bold;

}